<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="push" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    *Sidenav content*
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <span class="sidenav-spacer"></span>
        <a routerLink="" routerLinkActive="active"><p>Punto Medio</p></a>
        <span class="sidenav-spacer"></span>
        <button routerLink="/sign-in" routerLinkActive="active" mat-icon-button>
          <mat-icon>person</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
