<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="push" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
               <div *ngIf="auth.getValue()" style="color:white; font-size: 24px;">
                Hola <b>{{user | displayName }}</b>
               </div>
               <div *ngIf="!auth.getValue()" style="color:white">
                  Hi log-in or log-up!!
                 </div>

               <mat-list role="list" >
                  <mat-list-item *ngIf="auth.getValue()" role="listitem" routerLink="/" routerLinkActive="active">Index</mat-list-item>
                  <mat-list-item *ngIf="auth.getValue()" role="listitem" routerLink="/create-poem" routerLinkActive="active">Create</mat-list-item>
                  <mat-list-item *ngIf="auth.getValue()" role="listitem" (click)="logout()">Disconnect</mat-list-item>
                  <mat-list-item *ngIf="!auth.getValue()" role="listitem" routerLink="/sign-in" routerLinkActive="active">Sign in</mat-list-item>                  
                </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <span class="sidenav-spacer"></span>
        <p routerLink="" routerLinkActive="active">Poem Lover</p>
        <span class="sidenav-spacer"></span>
        <button routerLink="/sign-up" routerLinkActive="active" mat-icon-button>
          <mat-icon>person</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
