.votting-verse{
    display: flex;
    margin: 1em 0;
}
.verse{
    width: 95%;
    margin: 0.75em 0;
}

.buttton-vote {
    width: 5%;
    text-align: right;
}

.author-container {
    width: 100%;
    margin-bottom: 0.5em;
}

.author {
    text-align: right;
    display: block;
    font-size: 10px;
}
