<div *ngFor="let verse of verses | async">
  <div class="votting-verse">
    <div class="verse">{{ verse.payload.doc.data().verse }}</div>
    <button mat-icon-button color="primary" class="button-vote">
      <mat-icon aria-label="Example icon-button with a heart icon" (click)="voteVerse(verse)">favorite</mat-icon>
    </button>
  </div>
  <div class="author-container">
    <div>{{ verse.payload.doc.data().votes}} of {{ votesNeeded }}</div>
    <div class="author">{{ verse.payload.doc.data().author | displayName }}</div>
  </div>
  <mat-progress-bar mode="determinate" [value]="setVotingSpinner(verse.payload.doc.data().votes)"></mat-progress-bar>
<div>
