<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
      <div (appCheckData)="isOwnPoem(item.payload.doc.data().idUser)" class="card-inside">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <div class="title-poem">
              <mat-card-title> <h3><u>{{ item.payload.doc.data().title | uppercase }}</u></h3> </mat-card-title>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="text-poem" *ngFor="let verse of fullPoem | async">
              <i>{{ verse.payload.doc.data().verse }}</i>
              <br>
          </div>
        </mat-card-content>
        <mat-card-actions>
            <!-- <button mat-icon-button color="warn" *ngIf="!isOwnPoem(item.payload.doc.data().idUser)">
                <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                  <mat-icon aria-label="Example icon-button with a heart icon">list</mat-icon>
                </button> -->
          <!-- <mat-form-field class="form-field-input">
            <input matInput placeholder="Intruduce the verse" [(ngModel)]="verse" name="verse" required>
          </mat-form-field> -->

          <!-- <button mat-button>{{ item.payload.doc.data().idUser ===  userUid  ? 'user' : 'noUser' }}</button>
          <button mat-button >{{ isOwnPoem(item.payload.doc.data().idUser)  }}</button> -->
        </mat-card-actions>
      </div>
    </mat-expansion-panel-header>
    <h5 class="author">Author: <b>{{ item.payload.doc.data().author | displayName }}</b></h5>
    <form *ngIf="isNewVerse.getValue() && !ownPoem">
      <mat-form-field class="form-field-input">
        <input matInput placeholder="Intruduce the verse" [(ngModel)]="verse" name="verse" required>
      </mat-form-field>
      <button mat-flat-button class="button-up-verse" color="primary" (click)="upVerse(item.payload.doc.id)">Up!</button>
    </form>
    <div *ngIf="!isNewVerse.getValue() && !ownPoem" class="alert">
      <b>You have alredy create verse</b>
    </div>
    <div *ngIf="ownPoem" class="alert">
      <b>You cant create verses becouse you are the creator</b>
    </div>
  </mat-expansion-panel>
</mat-accordion>