/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


body{
    margin: 0;
}

.mat-sidenav-content{
    background-color: #CEF0FF!important;
}
.create-poem-snackbar {
    background-color: #b24747 !important;
}
.mat-tab-label{
    width: 50%!important;
  }

  .mat-sidenav{
      background-color: #872187!important;
  }
  .mat-list-item-content{
      color: white!important
  }